<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page a</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700" rel="stylesheet">
    
</head>
<body>
    
    <h1 class="h1-a">ESTA ES LA PÁGINA A</h1>
    <P class="p-a">En la página A podrás encontrar todo lo relacionado con la letra A</P>
    <a class="a-a" href="page-b">PAGINA B</a>
    <a class="a-a" href="page-c">PAGINA C</a>


    <script src="main.js"></script>
</body>
</html>