.h1-h{
    color:#303F9F;
    font-family: 'Poppins', sans-serif;
}

.p-h{
    color:grey;
    font-family: 'Open Sans', sans-serif;
}

.a-h{
    background-color:#303F9F;
    padding: 10px;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.h1-a{
    color:#388E3C;
    font-family: 'Poppins', sans-serif;
}

.p-a{
    color:grey;
    font-family: 'Open Sans', sans-serif;
}

.a-a{
    background-color: #388E3C;
    padding: 10px;
    color:white;
    font-family: 'Poppins', sans-serif;
}


.h1-b{
    color:#7B1FA2;
    font-family: 'Poppins', sans-serif;
}

.p-b{
    color:grey;
    font-family: 'Open Sans', sans-serif;
}

.a-b{
    background-color: #7B1FA2;
    padding: 10px;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.h1-c{
    color:#00BCD4;
    font-family: 'Poppins', sans-serif;
}

.p-c{
    color:grey;
    font-family: 'Open Sans', sans-serif;
}

.a-c{
    background-color: #00BCD4;
    padding: 10px;
    color:white;
    font-family: 'Poppins', sans-serif;
}